* {
    font-family: 'Noto Sans', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
nav {
    background-color: #3f0e40;
    color: #ad9aaf;
    padding: 10px;
    padding-left: 15px;
    height: 100vh;
    display: block;
    overflow: scroll;
    flex-basis: 220px;
    flex-shrink: 0;
    min-width: 1px;
    max-width: 260px;
    line-height: 1.2rem;
    font-size: 14px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div#search input {
    background-color: #260027;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border: none;
    border-radius: 6px;
    padding: 10px;
    background-image: url(images/jump-to.JPG);
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 30px;
    color: #a893a9;
}
body {
    display: flex;
}
div#user-name {
display: flex;
justify-content: space-between;
padding: 0;
margin: 0;
}
div#user-name>i {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
div#user-name h1 {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}
div#user-name h1 i {
    font-size: 0.4em;
    color: #987d99;
}
div#top h2 i {
    color: #38948b;
    font-size: 0.6em;
    padding: 0;
    margin: 0;
    margin-right: 4px;
}
div#top h2 {
    font-weight: 100;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
    color: #a893a9;
}

main {
    padding: 10px 15px;
    width: 100%;
}
header div h1 {
    padding: 0;
    margin: 0;
}
div#direct-msg i {
    color: #2bac76;
    font-size: 0.7em;
}
li#inactive i {
    color:#896b89;
}
div#channel-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}
div#channel-heading h1 {
    font-size: 1em;
    font-weight: 400;
    margin: 5px 0px;
}
#channel-list li i{
    font-size: 0.7em;
}
div#drct-msg-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;

}
div#drct-msg-heading h1 {
    font-size: 1em;
    font-weight: 400;
    margin: 20px 0px 5px 0;
}
div#drct-msg-heading i {
    color: #987d99;
    margin: 20px 0px 5px 0;
    font-size: 1em;
}
nav li i{
    margin-right: 5px;
    font-weight: lighter;
}
nav li {
    margin: 7px auto;
}
li#selected {
    color: white;
    background-color:#1164a3;
    padding: 3px 0;
}
h1#thread {
    font-size: 1em;
    color: #a893a9;
    font-weight: lighter;
}
#direct-msg li span{
    color: #896b89af;
}
li#inactive {
    color: #896b89af;
}
h1#thread i{
    color: #987d99;
    margin-right: 5px;
}
div#app-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}
div#app-heading h1 {
    font-size: 1em;
    font-weight: 400;
    margin: 20px 0px;
}
div#app-list li i{
    font-size: 0.6em;
}
div#top {
    position: sticky;
    top: 0;
    background-color: #3f0e40;
}
div.hr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #1d1c1d;
}
div.hr hr{

    flex: 1;
    color: grey;
}
header{
    color: #616061;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}
header h1{
    color: black;
    font-size: 1.2em;
    font-weight: bolder;
}
header input {
    background-image: url(images/49116.png);
    padding: 6px;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 28px;
    padding-right: 0px;
    border: 1px solid gray;
}
header i {
    margin: 0px 5px;
    color: grey;
}
header div p {
    margin: 5px 0;
    font-size: 0.9em;
}
div#chat-body {
    display: flex;
}
div#users{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#users img {
    height: 36px;
    border-radius: 3px;
}
#kokab-post h1{
    padding: 0;
    margin: 0;
    font-size: 1em;
}
#kokab-post h1 i {
    font-size: 0.9em;
    margin: 0 5px;
}
#kokab-post h1 time{
    color: grey;
    font-size: 0.7em;
    font-weight: 100;
}
#kokab-post p{
    margin: 4px 0 10px;
}
#kokab-post a{
    text-decoration: none;
    color:#1264a3;

}
#kokab-post div#video i{
    color: #d42322;
}
#video {
    border-left: 4px solid lightgray;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#video p{
    margin:4px 0;
}
#video img{
    width: 100%;
}
#video p span{
    border-left: 2px solid lightgray;
    padding-left: 8px;
    margin-left: 5px;
}
#video figure{
    margin: 0;
    position: relative;
}
#video figcaption{
    color:#1264b8;
    font-weight: bold;
    margin: 0 0 6px 0;
    font-size: 0.9em;
}
#kokab-post #video figcaption i {
    color: #1264b8;
}
div#opt {
    position: absolute;
    top: 35%;
    left: 15%;
    display: flex;
    width: 50%;
    align-items: center;
    height: 20%;
    font-size: 3em;
    justify-content: space-around;
    padding: 30px;
    background-color: #00000059;
    border-radius: 5px;
}
#kokab-post #video div#opt i{
    color: #ffffff75;
}
#kokab-post #video div#opt:hover i {
    color: #ffffffcc;

}
#kokab-post #video div#opt i:hover{
    cursor: pointer;
}

#kokab-post h1#aleem{
    margin-top: 10px;
}
h1#aleem+p{
    margin: 4px 0 0;
}
#aleem time{
    margin-left: 5px;
}
#video+button{
    border-radius: 12px;
    border: 0.1px solid;
    color: #1264a3;
    background-color: #e8f5fa;
    box-shadow: inset 0 0 0 1px #1d9bd1;
    padding: 4px 6px;
    margin-top: 5px;
}
#video+button i {
    color:#82b14b;
}
div#message{
    border: 3px solid lightgray;
    border-radius: 5px;
    display: flex;
    position: fixed;
    bottom: 0;
    margin-top: 20px;
    width: 80%;
}
div#message input{
    flex:1;
    border: none;
    border-left: 2px solid lightgray;
    padding-left: 5px;
}
#message input~i{
    color:#61646a;
}
#message i{
    margin:5px;
    color:gray;
    font-size: 1.2em;
    
}
#kokab-post{
    padding-left: 8px;
    margin-bottom: auto;
}
section#channel-details nav{
    height: auto;
    background-color: #f8f8f8;
    color: #1d1c1d;
    font-weight: 900;
    display: flex;
    width: 260px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}
@media screen and (min-width:426px) and (max-width:768px) {
    section#channel-details {
    display: none;
}
main{
    padding: 0;
}    section#channel-details {
    display: none;
}
main{
    padding: 10px;
    font-size:14px;
}
div.hr {
    justify-content: space-around;

}
nav{
    min-width: 1px;
    max-width: 160px;
    
}
div#message{
    
    width: 60%;
}
}
@media screen and (min-width:100px) and (max-width:425px) {
    
    section#channel-details {
    display: none;
}
main{
    padding: 10px;
    font-size: 14px;
}

nav{
    display: none;
}

}